<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jumbotail.cashflow">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.CashFlow"
    android:usesCleartextTraffic="true">
    <activity android:name=".ui.entities.FavouriteEntityActivity"></activity>
    <activity android:name=".ui.transaction.TransactionDetailsActivity" />
    <activity android:name=".ui.transaction.TransactionHistoryActivity" />
    <activity android:name=".ui.entities.EntityActivity" />
    <activity android:name=".ui.transaction.AddTransactionActivity" />
    <activity android:name=".ui.entities.AddEntityActivity" />
    <activity android:name=".ui.dashboard.DashboardActivity" />
    <activity android:name=".ui.auth.LoginActivity" />
    <activity android:name=".ui.auth.SignupActivity" />
    <activity android:name=".ui.welcome.WelcomeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:configChanges="orientation|screenSize"
      android:name=".ui.transaction.TransactionPdfReportActivity"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar.Custom" />

    <meta-data
      android:name="preloaded_fonts"
      android:resource="@array/preloaded_fonts" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>